//Fonts
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
$ff: "Spartan", sans-serif; //Font-Family

//Layout
$mb: 375px; //Mobile device
$dk: 1440px; //Desktop device

$animation : color .5s ease-in, background-color .5s ease-in;